@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 8vh;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: white;
}    
 
.cachos{
    margin-left: 8vw;
    
}
    


nav{
    width: 45vw;
    margin-left: 3vw;
}

ul{
    display: flex;
    justify-content: space-evenly;
   
}

li{
    color: #9767A9;
    font-size: 1vw;

}

.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 22vw;
    margin-right: 10vw;
}

form{
    position: relative;
    left: 1vw;
}

input{
    border: 3px solid #9767A9;
    border-radius: 50px;
    width: 10vw;
    height: 3.5vh;
    padding-left: 3vh;
}  

button{
    background-image: url(img/image.lupa.png);
    background-repeat: no-repeat; 
    width: 2.5vw;
    height: 2.5vh;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 0.5vh;
    left: 0.9vh;
    background-color: transparent;
} 

.logo figure{
    align-items: center;
    width: 8vw;
    display: flex;
    justify-content: space-evenly;
}

.info{
    width: 100%;
    position: relative;
    background-color: #9767A9;
}

.info img{
    width: 100%;  
}

.info h1{
    position: absolute;
    top: 46%;
    left: 14.5%;
    font-size: 5vw;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    font-weight: 800;
    opacity: 1;
    width: 26%;
    line-height: 100%;
   
}

.info p{
    position: absolute;
    font-size: 2vw;
    width: 25%;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    opacity: 1;
    position: absolute;
    top: 54%;
    left: 59%;
}

.infoTwo{
    display: flex;
    background-color: #9767A9;
    width: 100%;
    padding-bottom: 4%;
}

.infoTwo h2{
    width: 44%;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    font-weight:900;
    margin-top: 1%;
    margin-left: 9%;
}

.infoTwo p{
    width: 40%;
    color: #FFFFFF;
    opacity: 1; 
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 2.5%;
    margin-right: 5.5%;
}

.sectionOne{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 86%; 
    justify-content: space-between;
    margin-left: 7%;
}

span{
    font-size: 2.5vw;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.mirror{
    width: 49.5%;
    position: relative;
    margin-top: -10vh;
}

.mirror img{
    width: 100%;
   
}

.mirrorInfo{
    background-color: #9767A9;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 15%;
}

.mirrorInfo h3{
    background-color: #9767A9;
    width: 80%;
    font-size: 2vw;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-left: 5%;
}

.mirror p{
    background-color: #9767A9;
    width: 90%;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 5%;
    
}

.girls{
    width: 49.5%;
    position: relative;
    margin-top: 25vh;
    
}

.girls img{
    width: 100%;   
}

.girlsInfo{
    background-color: #9767A9;
    width: 70%;
    position: absolute;
    top: 71%;
    left: 13%;
}

.girlsInfo h3{
    background-color: #9767A9;
    width: 80%;
    font-size: 2vw;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-left: 5%;
}

.girlsInfo p{
    background-color: #9767A9;
    width: 90%;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 5%;
}

.boy{
    width: 49.5%;
    position: relative;
    margin-top: -1vh;
}

.boy img{
    width: 100%;  
}

.boyInfo{
    background-color: #9767A9;
    width: 70%;
    position: absolute;
    top: 48.5%;
    left: 15%;   
}

.boyInfo h3{
    background-color: #9767A9;
    width: 80%;
    font-size: 2vw;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-left: 5%;
}

.boyInfo p{
    background-color: #9767A9;
    width: 90%;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 5%;
}

.queen{
    width: 49.5%;
    position: relative;
    margin-top: 30vh;    
}

.queen img{
    width: 100%;  
}

.queenInfo{
    background-color: #9767A9;
    width: 71.5%;
    position: absolute;
    top: 94%;
    left: 15%;   
}

.queenInfo h3{
    background-color: #9767A9;
    width: ;
    font-size: 1.9vw;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-left: 5%;
}

.queenInfo p{
    background-color: #9767A9;
    width: 90%;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 5%;
}

.family{
    width: 49.5%;
    position: relative;
    margin-top: -1vh;
    /*margin-left: 10%;*/

}

.family img{
    width: 100%;  
}

.familyInfo{
    background-color: #9767A9;
    width: 71.5%;
    position: absolute;
    top: 46%;
    left: 14%;   
}

.familyInfo h3{
    background-color: #9767A9;
    width: ;
    font-size: 1.9vw;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-left: 5%;
}

.familyInfo p{
    background-color: #9767A9;
    width: 90%;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 5%;
}

.hand{
    width: 49.5%;
    position: relative;
    margin-top: 35vh;
    /*margin-right: 8%;*/
}

.hand img{
    width: 100%;  
}

.handInfo{
    background-color: #9767A9;
    width: 71.5%;
    position: absolute;
    top: 88%;
    left: 15%;  
}

.handInfo h3{
    background-color: #9767A9;
    width: ;
    font-size: 1.9vw;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-left: 5%;
}

.handInfo p{
    background-color: #9767A9;
    width: 90%;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 5%;
}

.lady{
    width: 49.5%;
    position: relative;
    margin-bottom: 25vh;
    /*margin-left: 10%;*/
}

.lady img{
    width: 100%;  
}

.ladyInfo{
    background-color: #9767A9;
    width: 72%;
    position: absolute;
    top: 70%;
    left: 14%;  
}

.ladyInfo h3{
    background-color: #9767A9;
    width: ;
    font-size: 1.9vw;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-left: 5%;
}

.ladyInfo p{
    background-color: #9767A9;
    width: 90%;
    font-size: 1.1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 5%;
}

.blackhair{
   margin-top: 50vh;
   width: 30%;
   margin-right: 10%;
}

.blackhair img{
    width: 100%;
}

.sectionTwo{
    display: flex;
    flex-direction: row;
    width: 86%; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 7%;
}

.boxOne{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background-color: #9767A9;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 9vh;
    align-items: center;
}

.footerInfo{
    width: 54%;
    font-size: 0.75vw;
    color: white;
}

.direction{
    width: 19%;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 100%;
}

.direction p{
    font-size: 1vw;
}

.left{
    display: flex;
    width: 33%;    
    align-items: center;
   
}

.up{
    display: flex;
    width: 33%;    
    align-items: center;
    color: white;
}




.up p{
    text-align: center;
    width: 65%;
    border:solid,
}

.right{
    display: flex;
    width: 33%;
    flex-direction: row-reverse;
    align-items: center;
    
}

.right p{
    text-align:end;
}

@media (max-width: 600px) {
    

    
}